# Global variables go here
# This file should be included in vupdate.sh and vlooper.sh and cec_control.sh
log=/var/log/vlooper.log
cecLog=/var/log/cec_control.log
timeStamp=$(date +"%Y-%m-%d %T")

# Installation user
# - Specify the user that owns all of the vlooper files
# fileOwner=

# Installation path
# - Specify the full filepath to the vlooper folder
# baseDir=

# Current video file
# - Specify the name of the currently looped video in the media path that you wish to archive
curVideo=''

# Full Video filepath
# - Used to tell what video file omxplayer should use including the filepath
videoFile="$videoDir/$curVideo"

# Media path
# - Specify the full filepath to the folder containing the video you wish to have looped
videoDir="$baseDir/video"

# OmxPlayer search
#  - Used to see if omxplayer is running or not
omxPid=$(pgrep -f "omxplayer.bin")

# cec_control Display id 
#  - Used to store the Display id of the connected CEC compatible display
display="none"

# cec_control Vendor name
#  - Used to store the Vendor name of the connected CEC compatible display
vendor="none"