#!/bin/bash
#source

if [[ -n $omxPid ]]
    then
        printf "%s" "$timeStamp - Video Playback already running!" >> "$log"
        printf "\n" >> "$log"
        exit 1
    else
        if [[ -s $videoFile ]]
            then
                screen -dmS vlooper sh -c "omxplayer -o both $videoFile -b --loop --no-osd"
                printf "%s" "$timeStamp - Video Playback Started..." >> "$log"
                printf "\n" >> "$log"
            else
                printf "%s" "$timeStamp - $videoFile doesn't exist or is zero length, video playback not started!" >> "$log"
                printf "\n" >> "$log"
        fi
fi